


/* pop up*/



.FDA-bannerimg{
    position: relative;
    object-fit: contain;
    max-width: 25%;

    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index: 0;
}
.close-img {
    position: relative;
    top: 20px;
    cursor:pointer;
    filter: invert(1);
    max-width: 30px;

    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index: 10001;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


.row .flex-video-title
{
    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: 2.3em;
    color: whitesmoke;
    white-space: nowrap;

    margin-right: auto;
    margin-left: auto;


}
.flex-video-title-3video{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    color: whitesmoke;
    white-space: nowrap;


    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.trailer .row .width-height{
    width: auto;
    height: auto;
    /*height: 508px;*/
}
@media (max-width: 767px) and (orientation: portrait){
    .trailer .row .FDA-bannerimg{
        max-width: 100%;
    }
    .trailer .row .width-height{
        height:auto;
    }

}
@media (max-width: 767px) and (orientation: landscape){


    .trailer .row .width-height{
        height:auto;
    }
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

/*//CSS*/

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    /*.trailer .row .width-height{*/
    /*    height: 508px;*/
    /*}*/

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1024px) {
    .trailer .row .width-height{
        height: 508px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .trailer .row .FDA-bannerimg{
        max-width: 40%;
    }
    .trailer .row .width-height{
        height: 508px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .trailer .row .FDA-bannerimg{
        max-width: 40%;
    }

    .trailer .row .width-height{
        height: 508px;
    }
}

/*--------------------------------Contact page-------------------------------------*/
#hidethis {
    animation: css 0s 10s forwards;
}

@keyframes css  {
    to { visibility: hidden; }
}
/* visibility / overflow: hidden; */


