


span
{
    vertical-align:middle;
}



    .liabilities-management footer#ttr_footer #ttr_footer_designed_by_links a:not(.btn),.liabilities-management footer#ttr_footer_designed_by_links a:link:not(.btn),.liabilities-management footer#ttr_footer_designed_by_links a:visited:not(.btn),.liabilities-management footer#ttr_footer_designed_by_links a:hover:not(.btn), footer #ttr_footer_designed_by_links span
    {
        display:inline-block;font-size:14px;
        font-family:"Hind","Arial";font-weight:400;
        font-style:normal;
        color:#35B5EB;
        text-shadow:none;
        text-align:left;
        text-decoration:none;
        vertical-align:middle;
        line-height:initial;
    }






#ttr_page
{
    min-width: 20px;
    margin-top:0;
    margin-bottom:0;
    border-radius:1px 1px 1px 1px;
    border:solid #000000;
    border:solid rgba(0,0,0,1);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:#FFFFFF;
    background:rgba(255,255,255,1);
    background-clip:padding-box;box-sizing:border-box;
}
.navbar
{
    height:50px;
}
.ttr_footer_bottom_footer_inner
{
    height:100px;
}
.ttr_footer_bottom_footer_inner, #ttr_footer_top_for_widgets
{
    position:relative;
    margin:0 auto;
}

#ttr_menu.navbar
{
    height:80px;
    min-height:50px;
    border-radius:0 0 0 0;
    border:solid #35486E;
    border:solid rgba(53,72,110,1);
    border-width: 0 0 0 0;
    box-shadow:none;
    box-sizing:border-box;}
#ttr_menu_inner_in
{
    min-height: 50px;
    height:auto;
    text-align: right;
    position:relative;
    margin:0 auto;
}



.ttr_index_html_row1
{
    border-radius:0 0 0 0;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;padding:10px 100px 100px 100px;
}
.ttr_index_html_column10
{
    border-radius:0 0 0 0;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    /*background:rgba(255,255,255,0);*/
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 0 0 0;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column10,  .ttr_index_html_column10 p
{
    font-size:16px;
}

.ttr_index_html_row2
{
    border-radius:0 0 0 0;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    background-color:#35486E;
    background:rgba(53,72,110,1);
    background-clip:padding-box;padding:0 0 0 0;
}
.ttr_index_html_column20
{
    border-radius:0 0 0 0;
    border:solid #F3F3F3;
    /*border:solid rgba(243,243,243,1);*/
    border-width: 20px 20px 20px 20px;
    box-shadow:none;
    background:url(images/1891930544html_column20.jpg);
    background-color:#FFFFFF;
    background-repeat:no-repeat;
    background-size:auto auto;
    background-position:Center Center;
    background-clip:padding-box;margin:20px 20px 20px 120px;
    padding:50px 0 50px 0;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column20,  .ttr_index_html_column20 p
{
    font-size:16px;
}

.ttr_index_html_column21
{
    border-radius:0 0 0 0;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 0 20px 0;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column21,  .ttr_index_html_column21 p
{
    font-size:16px;
}

.ttr_index_html_row3
{
    border-radius:0 0 0 0;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;padding:50px 220px 20px 220px;
}
.ttr_index_html_column30
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 0 0 0;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column30,  .ttr_index_html_column30 p
{
    font-size:16px;
}

.ttr_index_html_row4
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:50px 0 20px 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;padding:0 100px 0 100px;
}
.ttr_index_html_column40
{
    border-radius:0 0 0 0;
    border:solid transparent;
    /*border:solid rgba(255,255,255,0);*/
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    /*background:rgba(255,255,255,0);*/
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 20px 0 20px;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column40,  .ttr_index_html_column40 p
{
    font-size:16px;
}

.ttr_index_html_column41
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 20px 0 20px;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column41,  .ttr_index_html_column41 p
{
    font-size:16px;
}

.ttr_index_html_column42
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 20px 0 20px;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column42,  .ttr_index_html_column42 p
{
    font-size:16px;
}

.ttr_index_html_row5
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:20px 0 50px 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;padding:0 100px 0 100px;
}
.ttr_index_html_column50
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 20px 0 20px;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column50,  .ttr_index_html_column50 p
{
    font-size:16px;
}

.ttr_index_html_column51
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 20px 0 20px;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column51,  .ttr_index_html_column51 p
{
    font-size:16px;
}

.ttr_index_html_column52
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 20px 0 20px;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column52,  .ttr_index_html_column52 p
{
    font-size:16px;
}

.ttr_index_html_row6
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;padding:0 220px 20px 220px;
}
.ttr_index_html_column60
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 0 0 0;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column60,  .ttr_index_html_column60 p
{
    font-size:16px;
}

.ttr_index_html_row7
{
    border-radius:0 0 0 0;
    border:solid transparent;
    /*border:solid rgba(255,255,255,0);*/
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    background-color:transparent;
    /*background:rgba(255,255,255,0);*/
    background-clip:padding-box;padding:0 0 0 0;
}
.ttr_index_html_column70
{
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;margin:0 0 0 0;
    padding:0 0 0 0;
    word-wrap:break-word;
    box-sizing: border-box;
}
.ttr_index_html_column70,  .ttr_index_html_column70 p
{
    font-size:16px;
}

.ttr_footer-widget-cell_inner_widget_container
{
    margin:0 0 0 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;}
.ttr_footer-widget-cell_inner0
{
    padding:0 0 0 0;
}
.footercellcolumn1
{
    padding:0 0 0 0;
    margin:0 0 0 0;
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    word-wrap:break-word;
}
.footercellcolumn1, .footercellcolumn1 p,footercellcolumn1 p span, footer#ttr_footer .footercellcolumn1 a:not(.btn), footer#ttr_footer .footercellcolumn1 a:not(.btn) span, .footercellcolumn1 li p
{
    font-size:16px;
}
.footercellcolumn2
{
    padding:0 0 0 0;
    margin:0 0 0 0;
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    word-wrap:break-word;
}
.footercellcolumn2, .footercellcolumn2 p,footercellcolumn2 p span, footer#ttr_footer .footercellcolumn2 a:not(.btn), footer#ttr_footer .footercellcolumn2 a:not(.btn) span, .footercellcolumn2 li p
{
    font-size:16px;
}
.footercellcolumn3
{
    padding:0 0 0 0;
    margin:0 0 0 0;
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    word-wrap:break-word;
}
.footercellcolumn3, .footercellcolumn3 p,footercellcolumn3 p span, footer#ttr_footer .footercellcolumn3 a:not(.btn), footer#ttr_footer .footercellcolumn3 a:not(.btn) span, .footercellcolumn3 li p
{
    font-size:16px;
}

.ttr_menu_logo
{
    background-repeat: no-repeat;
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    top:3.13px;
    position:absolute;
    z-index:500;
    left: 0;
    right:auto;
    display:block;

    text-align:center;

    border:0 none;
    box-sizing:border-box;
}
#ttr_menu .ttr_menu_logo
{
    height:auto;
}

nav#ttr_menu
{
    pointer-events: auto;
}


#ttr_menu .navbar-collapse
{
    margin:0 30px 0 0;
}
#ttr_menu #navigationmenu .navbar-collapse
{
    margin-top:0;
    margin-bottom:0;
}
.navbar-default
{
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;border-radius:0 0 0 0;
    border:solid #35486E;
    border:solid rgba(53,72,110,1);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    padding-top:20px;
    padding-bottom:10px;
    box-sizing:content-box}
body .navbar-default
{
    padding-left:0;
    padding-right:0;
}



.innermenu
{
    width:auto;
    margin-left:auto;
    margin-right:auto;

}
.innermenu
{
    position:absolute;
    top:0px;
    margin:0 auto;
    left:0;
    right:0;
    max-width:100%;

}
#Slide0
{
    background:linear-gradient(to top, rgba(255,255,255,0) 80% , rgba(255,255,255,1))
    ,linear-gradient(to left, rgba(255,255,255,0) 70%, rgba(255,255,255,1))
    ,url(images/Slide0.png);
    background-color:#FFFFFF;
    background-repeat:no-repeat, no-repeat, no-repeat ;
    background-size:100% 85%, 70% 100%, 70% 85%;
    background-position: right bottom, Right Top, bottom Right;
    background-clip:padding-box;
}
#Slide1
{
    background:linear-gradient(to top, rgba(255,255,255,0) 80% , rgba(255,255,255,1))
    ,linear-gradient(to left, rgba(255,255,255,0) 70%, rgba(255,255,255,1))
    ,url(images/Slide1.png);
    background-color:#FFFFFF;
    background-repeat:no-repeat, no-repeat, no-repeat ;
    background-size:100% 85%, 70% 100%, 70% 85%;
    background-position: right bottom, Right Top, bottom Right;
    background-clip:padding-box;
}
#Slide2
{
    background:linear-gradient(to top, rgba(255,255,255,0) 80% , rgba(255,255,255,1))
    ,linear-gradient(to left, rgba(255,255,255,0) 70%, rgba(255,255,255,1))
    ,url(images/Slide2.png);
    background-color:#FFFFFF;
    background-repeat:no-repeat, no-repeat, no-repeat ;
    background-size:100% 85%, 70% 100%, 70% 85%;
    background-position: right bottom, Right Top, bottom Right;
    background-clip:padding-box;
}
.ttr_slide
{
    height:520px;
    width:100%;

}
#ttr_slideshow_inner ul
{
    list-style: outside none none;

}
#ttr_slideshow_inner
{
    height:520px;
    position:absolute;
    overflow:hidden;
    width:100%;

}

#ttr_slideshow_inner > ul > li
{
    position:absolute;

}
.ttr_slideshow_in
{
    /*destop view*/
    height:520px;
    position:absolute;
    width:100%;
    top:0;
    pointer-events:none;

    background-image: url(images/stickyslideshowforeground01.png),url(images/stickyslideshowforeground02.png),url(slideshowlogo.png);
    background-size: 400px 103px, 343px 118px, 426px 270px;
    background-position: 9% 74%, 10% 99%, 5% 10%;
    background-repeat: no-repeat, no-repeat, no-repeat;

}

.ttr_slideshow_last
{
    margin:0 auto;
    position:relative;
    overflow:hidden;
    pointer-events:none;
    height:520px;

}

.ttr_slideshow
{
    position:relative;
    border-radius:0 0 0 0;
    border:solid #E7E7E7;
    border:solid rgba(231,231,231,1);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    height:520px;


}
.paginationLink a.pg
{
    background-color:#FFFFFF;
    background:rgba(255,255,255,1);
    background-clip:padding-box;border:none;
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:0;

}

.paginationLink a.pg
{
    font-size: 0;

}

.paginationLink
{
    display:inline-block;

}
.paginationLink
{
    border-radius:0 0 0 0;
    border:solid #35486E;
    border:solid rgba(53,72,110,1);
    border-width: 2px 2px 2px 2px;
    box-shadow:none;
    margin-right:3px;
    padding:2px;

}

nav#ttr_menu
{
    pointer-events: auto;
}

.container
{
    overflow:visible!important;
}

footer
{
    position: relative;
    background-color:#090909;
    background:rgba(9,9,9,1);
    background-clip:padding-box;border-radius:0 0 0 0;
    border:solid #DCDCDC;
    border:solid rgba(220,220,220,1);
    border-width: 1px 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
}
.ttr_footer_bottom_footer
{
    height:100px;
}

#ttr_footer .container
{
    width:100%;
}

#ttr_footer_designed_by_links span#ttr_footer_designed_by
{
    font-size:16px;
    /*font-family:"Open Sans","Arial";*/
    font-weight:400;
    font-style:normal;
    color:#E1E1E1;
    text-shadow:none;
    text-align:left;
    text-decoration:none;

}
#ttr_footer_designed_by_links
{
    top:20.67px;
    position:absolute;
    z-index:498;
    margin:auto;
    left: 0 ;
    right : 0 ;
    display:block;
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    text-align:center;
    overflow:auto;
}
#ttr_footer_designed_by_links
{
    text-align:center;
}
#ttr_footer_designed_by_links #ttr_footer_designed_by
{
    vertical-align:middle;
    line-height:initial;
}
footer#ttr_footer #ttr_footer_designed_by_links a:not(.btn), footer#ttr_footer_designed_by_links a:link:not(.btn), footer#ttr_footer_designed_by_links a:visited:not(.btn), footer#ttr_footer_designed_by_links a:hover:not(.btn), footer #ttr_footer_designed_by_links span
{
    display:inline-block;font-size:16px;
    /*font-family:"Open Sans","Arial";*/
    font-weight:400;
    font-style:normal;
    color:#F3F3F3;
    text-shadow:none;
    text-align:left;
    text-decoration:none;
    vertical-align:middle;
    line-height:initial;
}

.html_content p,.html_content span,.html_content h2,.html_content h1,.html_content h3,.html_content h4,.html_content h5,.html_content h6
{
    /*font-family:"Open Sans",Monaco;*/
    font-size:1em;
    line-height: normal;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-align:left;
    margin:0;
}

#ttr_content
{
    width: 100px;
    clear: none;
}

#ttr_html_content_margin
{
    padding:30px 0 0 0;
    border-radius:0 0 0 0;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:none;
    margin:0 0 0 0;
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;box-sizing:border-box;
}

table
{
    border-collapse: separate !important;
    border-spacing: 2px;
}
#nav
{
    top:470px;
    position:absolute;
    z-index:498;
    margin:auto;
    left: 0 ;
    right : 0 ;
    display:block;
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    text-align:center;
    font-size:0;
}

    #ttr_menu_inner_in
    {
        width:auto !important;
        height:auto !important;
        text-align:left !important;
    }
    .ttr_slideshow_last
    {
        width:auto;
    }
    #navigationmenu .navbar-header
    {
        position: relative;

    }

    #ttr_content
    {
        float: none !important;
        width: auto !important;
        margin:0;
        border:0;
        border-radius:0;
    }

    #ttr_page
    {
        max-width:none !important;
        min-width:0 !important;
        padding-top:0;
    }

    #ttr_page .ttr_footer_bottom_footer_inner
    {
        width:auto !important;
        text-align:center;
    }

    .menu-center
    {
        z-index:99999;
    }

#nav-expander .ttr_menu_toggle_button
{
    display:inline-block;

}
#ttr_menu .navbar-toggle
{
    background-color:transparent;
    background:rgba(255,255,255,0);
    background-clip:padding-box;border-radius:0 0 0 0;
    border:solid #DCDCDC;
    border:solid rgba(220,220,220,1);
    border-width: 1px 1px 1px 1px;
    box-shadow:none;
    font-size:16px;
    /*font-family:"Open Sans","Arial";*/
    font-weight:400;
    font-style:normal;
    color:#333333;
    text-shadow:none;
    text-align:left;
    text-decoration:none;
    line-height: 1.42;

}
nav#ttr_menu .icon-bar
{
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#333333;
    height:1px;

}

#ttr_menu .navbar-toggle
{
    margin-top:9.5px;
    margin-bottom:9.5px;

}
#ttr_menu .navbar-toggle
{
    padding: 6px 7px;
    margin-right:3px;
    float:right;

}

.btn,.btn:focus
{
    font-size:16px;
    /*font-family:"Open Sans","Arial";*/
    font-weight:400;
    font-style:normal;
    color:#FFFFFF;
    text-shadow:none;
    text-align:left;
    text-decoration:none;
    text-transform:none;
    border-radius:16px 16px 16px 16px;
    /*border:solid transparent;*/
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:0 2px 7px rgba(192,192,192,1);
    padding:8px 14px 8px 14px;
}

.btn.btn-default, .btn.btn-default:focus
{
    background-color:#4463A3;
    background:rgba(68,99,163,1);
    background-clip:padding-box;border-radius:16px 16px 16px 16px;
    /*border:solid transparent;*/
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:0 2px 7px rgba(192,192,192,1);
    font-size:16px;
    /*font-family:"Open Sans","Arial";*/
    font-weight:400;
    font-style:normal;
    color:#FFFFFF;
    text-shadow:none;
    text-align:left;
    text-decoration:none;
    text-transform:none;
    box-sizing:inherit;
    clear:none;
    width:auto;
    height:auto;
    overflow:visible;
}

.btn.btn-default, .btn.btn-deafult:focus
{
    background-color:#4463A3;
    background:rgba(68,99,163,1);
    background-clip:padding-box;font-size:16px;
    /*font-family:"Open Sans","Arial";*/
    font-weight:400;
    font-style:normal;
    color:#FFFFFF;
    text-shadow:none;
    text-align:left;
    text-decoration:none;
    text-transform:none;
    border-radius:16px 16px 16px 16px;
    border:solid transparent;
    border:solid rgba(255,255,255,0);
    border-width: 0 0 0 0;
    box-shadow:0 2px 7px rgba(192,192,192,1);
    padding:8px 14px 8px 14px;
}

.ttr_image
{
    max-width:100%;}

.ttr_uniform
{
    max-width:100% !important;height:auto !important;vertical-align:middle;
}
#ttr_footer .ttr_image
{
    line-height:inherit;
}

img
{
    vertical-align:bottom;
}

*
{
    margin:0;
    padding:0;
}
#ttr_page.container
{
    padding-left:0;
    padding-right:0;
}

    #ttr_menu .navbar-collapse
    {
        padding-left:0;
        padding-right:0;
    }

.back-to-top
{
    position:fixed;
    bottom: 0;
    right: 2em;
    text-decoration: none;
    padding: 0.5em;
    display: none;
    z-index:999;
}

.ttr_image::after
{
    clear: both;content: '.';display:inline;visibility: hidden;}
.post_column .html_content ol, .post_column .html_content ul
{
    margin-left: 25px;}
.post_column .html_content ol li, .post_column .html_content ul li
{
    padding-left: 5px !important;text-indent: 0 !important;}

p
{
    padding:0;
}

    footer, header#ttr_header
    {
        max-width: 100%;
    }



.ttr_header_element_alignment,.ttr_menu_element_alignment ,.ttr_slideshow_element_alignment ,.ttr_footer_element_alignment
{
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    height:100%;

}

    #nav
    {
        top:300px;
        position:absolute;
        z-index:498;
        margin:auto;
        left: 0 ;
        right : 0 ;
        display:block;
        transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        text-align:center;
        font-size:0;
    }
    .ttr_slideshow {
        position: relative;
        border-radius: 0 0 0 0;
        border: solid #E7E7E7;
        border-width: 0 0 0 0;
        box-shadow: none;
        margin: 0 0 0 0;
        height: 320px;
    }

    .ttr_slideshow_in
    {
        /* mobile view */
        height: 520px;
        position:absolute;
        width:100%;
        top:0;
        pointer-events:none;

        background-image: url(images/stickyslideshowforeground01.png),url(images/stickyslideshowforeground02.png),url(slideshowlogo.png);
        /*asic, sign, logo*/
        background-size: 50% auto, 50% auto, 60% auto;
        background-position: 15% 8%, 15% 50%, 7% 23%;
        background-repeat: no-repeat, no-repeat, no-repeat;

    }
    .ttr_slide {
        height: 320px;
        width: 100%;
    }

    #ttr_slideshow_inner
    {
        height:320px;
        position:absolute;
        overflow:hidden;
        width:100%;

    }


    .navbar-collapse {
        /*mobile view start*/
        z-index: 501;
    }



    .totopshow {
        display: block;}
    .container
    {
        width:100%;

    }
    .ttr_footer_bottom_footer_inner, #ttr_footer_top_for_widgets
    {
        position:relative;
        margin:0 auto;
    }
    #navigationmenu
    {
        width:auto;
        margin:0 auto;
    }
    #ttr_menu.navbar
    {
        height:auto;min-height:50px;
        box-sizing:border-box;
    }
    #ttr_menu_inner_in
    {
        min-height: 50px;
        height:auto;
        position:relative;
        margin:0 auto;
    }

    td
    {
    }

    .ttr_index_html_row1
    {
        margin:0 0 0 0;
        padding:10px 0 0 0;
    }
    .ttr_index_html_column10,  .ttr_index_html_column10 p
    {
        font-size:16px;
    }

    .ttr_index_html_column20
    {
        border-radius:0 0 0 0;
        border:solid #F3F3F3;
        border-width: 15px 15px 15px 15px;
        box-shadow:none;
        margin:0 0 0 0;
        padding:15px 5px 15px 5px;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column20,  .ttr_index_html_column20 p
    {
        font-size:16px;
    }

    .ttr_index_html_column21
    {
        margin:0 0 0 0;
        padding:0 0 0 20px;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column21,  .ttr_index_html_column21 p
    {
        font-size:16px;
    }

    .ttr_index_html_row3
    {
        margin:0 0 0 0;
        padding:100px 0 20px 0;
    }
    .ttr_index_html_column30,  .ttr_index_html_column30 p
    {
        font-size:16px;
    }

    .ttr_index_html_row4
    {
        margin:20px 0 20px 0;
        padding:0 10px 0 10px;
    }
    .ttr_index_html_column40
    {
        margin:0 0 10px 0;
        padding:0 0 0 0;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column40,  .ttr_index_html_column40 p
    {
        font-size:16px;
    }

    .ttr_index_html_column41
    {
        margin:0 0 10px 0;
        padding:0 0 0 0;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column41,  .ttr_index_html_column41 p
    {
        font-size:16px;
    }

    .ttr_index_html_column42
    {
        margin:0 0 0 0;
        padding:0 0 0 0;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column42,  .ttr_index_html_column42 p
    {
        font-size:16px;
    }

    .ttr_index_html_row5
    {
        margin:20px 0 20px 0;
        padding:0 10px 0 10px;
    }
    .ttr_index_html_column50
    {
        margin:0 0 10px 0;
        padding:0 0 0 0;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column50,  .ttr_index_html_column50 p
    {
        font-size:16px;
    }

    .ttr_index_html_column51
    {
        margin:0 0 10px 0;
        padding:0 0 0 0;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column51,  .ttr_index_html_column51 p
    {
        font-size:16px;
    }

    .ttr_index_html_column52
    {
        margin:0 0 0 0;
        padding:0 0 0 0;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    .ttr_index_html_column52,  .ttr_index_html_column52 p
    {
        font-size:16px;
    }

    .ttr_index_html_row6
    {
        margin:0 0 0 0;
        padding:20px 10px 20px 10px;
    }
    .ttr_index_html_column60,  .ttr_index_html_column60 p
    {
        font-size:16px;
    }

    .ttr_index_html_column70,  .ttr_index_html_column70 p
    {
        font-size:16px;
    }


    .footercellcolumn1, .footercellcolumn1 p,footercellcolumn1 p span, footer#ttr_footer .footercellcolumn1 a:not(.btn), footer#ttr_footer .footercellcolumn1 a:not(.btn) span, .footercellcolumn1 li p
    {
        font-size:16px;
    }
    .footercellcolumn2, .footercellcolumn2 p,footercellcolumn2 p span, footer#ttr_footer .footercellcolumn2 a:not(.btn), footer#ttr_footer .footercellcolumn2 a:not(.btn) span, .footercellcolumn2 li p
    {
        font-size:16px;
    }
    .footercellcolumn3, .footercellcolumn3 p,footercellcolumn3 p span, footer#ttr_footer .footercellcolumn3 a:not(.btn), footer#ttr_footer .footercellcolumn3 a:not(.btn) span, .footercellcolumn3 li p
    {
        font-size:16px;
    }

    nav#ttr_menu
    {
        pointer-events: auto;
    }

    .navbar-default
    {
        margin:0 0 0 0;
        padding-top:0;
        padding-bottom:0;
        box-sizing:content-box}
    body .navbar-default
    {
        padding-left:10px;
        padding-right:0;
    }

    nav#ttr_menu
    {
        max-width:100%;
        width:100%;

    }
    .innermenu
    {
        width:100%;

    }
    .innermenu
    {
        position:absolute;
        top:0px;
        margin:0 auto;
        left:0;
        right:0;
        max-width:100%;

    }
    .ttr_slideshow
    {
        display: block;
    }
    .ttr_slideshow
    {
        max-width:100%;
    }
    #ttr_slideshow_inner ul
    {
        list-style: outside none none;

    }
    #ttr_slideshow_inner
    {
        position:absolute;
        overflow:hidden;
        width:100%;

    }

    #ttr_slideshow_inner > ul > li
    {
        position:absolute;

    }

    nav#ttr_menu
    {
        pointer-events: auto;
        /*background-image: url(logo.png);*/
        /*background-position: top left;*/
        /*FrontEnd/logo.png*/

        /*background-image: url(images/stickyslideshowforeground01.png),url(images/stickyslideshowforeground02.png);--}}*/
    }




    .container
    {
        overflow:visible!important;
    }

    #ttr_footer .container
    {
        width:100%;
    }

    #ttr_footer_designed_by_links span#ttr_footer_designed_by
    {
        font-size:12px;
        font-family:"Hind","Arial";font-weight:400;
        font-style:normal;
        color:#FFFFFF;
        text-shadow:none;
        text-align:left;
        text-decoration:none;

    }
    #ttr_footer_designed_by_links
    {
        top:25px;
        position:absolute;
        z-index:498;
        margin:auto;
        left: 0 ;
        right : 0 ;
        display:block;
        transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        text-align:center;
        overflow:auto;
    }
    #ttr_footer_designed_by_links
    {
        text-align:center;
    }
    #ttr_footer_designed_by_links #ttr_footer_designed_by
    {
        vertical-align:middle;
        line-height:initial;
    }
    footer#ttr_footer #ttr_footer_designed_by_links a:not(.btn), footer#ttr_footer_designed_by_links a:link:not(.btn), footer#ttr_footer_designed_by_links a:visited:not(.btn), footer#ttr_footer_designed_by_links a:hover:not(.btn), footer #ttr_footer_designed_by_links span
    {
        display:inline-block;font-size:12px;
        font-family:"Hind","Arial";font-weight:400;
        font-style:normal;
        color:#35B5EB;
        text-shadow:none;
        text-align:left;
        text-decoration:none;
        vertical-align:middle;
        line-height:initial;
    }

    #ttr_content
    {
        width: 100px;
        clear: none;
    }
    #ttr_html_content_margin
    {
        padding:0 0 0 0;
        margin:0 0 0 0;
        box-sizing:border-box;
    }

    table
    {
        border-collapse: separate !important;
        border-spacing: 2px;
    }
    #nav
    {
        bottom:0;
        position:absolute;
        z-index:500;
        left: 39.38%;
        right:auto;
        display:block;
        transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
    }

    #ttr_menu .navbar-toggle
    {
        border-radius:0 0 0 0;
        border:solid #35B5EB;
        border-width: 1px 1px 1px 1px;
        box-shadow:none;
        line-height: 1.42;

    }
    nav#ttr_menu .icon-bar
    {
        border-width:2px 0 0 0;
        border-style:solid;
        border-color:#35B5EB;
        height:2px;

    }

    #ttr_footer_designed_by_links #ttr_footer_designed_by
    {
        display:inline-block;
    }







