
/node_modules
/public/hot
/public/storage
/storage/*.key
/resources/views/test.html
/resources/views/admin.html
/resources/views/adminControlPanel
/public/FrontEnd/images-
/public/FrontEnd/images


.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
