@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto:400,700,900&display=swap');
@import 'variables';
@import 'slideShow';
@import 'head';
@import 'TradingView';
@import 'index';
@import 'pages';
@import 'footer';
@import 'about';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow',sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}



#ttr_page.js-cookie-consent
{
    position: relative;
    top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #fffbdb;
    border-color: #fffacc;
    border: solid 1px;
}



