// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto:400,700,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#ttr_page.js-cookie-consent{
    position: relative;
    top: 0px;
    padding: 10px;
    text-align: center;
     width: 100%;
    z-index: 9999;
    background-color: #fffbdb;
    border-color: #fffacc;
    border: solid 1px;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

